* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

}

.all-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/img/game-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  flex: 1;
}

canvas {
  background-color: black;
  display: none;
}

.canvas-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.move-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* border: 1.5px solid orangered; */
  font-size: 24px;
  background-color: orange;
  color: black;
  font-weight: bold;
}

.move-button:active {
  background-color: orangered;
}

.fullscreen-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* border: 1.5px solid orangered; */
  font-size: 24px;
  text-align: center;
  background-color: orange;
  color: black;
  padding-bottom: 6px;
}

.fullscreen-button:active {
  background-color: orangered;
}

.overlay-startscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-right: 65px;
  padding-top: 37px; */
}

.startscreen {
  background-image: url("./assets/img/startscreen.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.start-button {
  font-size: 32px;
  font-weight: bold;
  border-radius: 16px;
  margin-bottom: 24px;
  width: 159px;
  background-color: orange;
  border: 2px solid orangered;
}

.start-button:hover {
  background-color: orangered;
  border: 2px solid orange;
}

.start-button:active {
  background-color: rgb(255, 17, 0);
  border: 2px solid rgb(255, 204, 0);
}

@media only screen and (max-width: 850px) {
  canvas {
    width: 100%;
  }

  .canvas-button-box {
    gap: 6px;
  }

  .move-button-box {
    gap: 6px;
    flex-direction: column;
  }

  .move-button {
    width: 42px;
    height: 42px;
    font-size: 20px;
  }

  .fullscreen-button {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  h1 {
    display: none;
  }
}

@media only screen and (max-height: 850px) {
  canvas {
    height: 100dvh;
  }

  .startscreen {
    height: 100dvh;
  }

  h1 {
    display: none;
  }
}