* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

}

h1 {
  font-family: 'Adventure', cursive;
  font-size: 200px;
  font-weight: bolder;
  text-shadow:
    0 0 15px rgba(255, 200, 0, 0.8),
    6px 6px 0 #712400;
  letter-spacing: 5px;
  line-height: 1.2;
  color: #FFB700;
  -webkit-text-stroke: 8px #712400;
  transform: scaleX(1.2);
  margin-top: 48px;
  display: inline-block;
  filter: drop-shadow(6px 6px 0 #2a0000);

}

.animation {
  animation: flyInSquash 1.2s ease-out;
}

@keyframes flyInSquash {
  0% {
    opacity: 0;
    transform: translateX(100vw) scaleX(2.2) scaleY(0.8);
  }

  70% {
    opacity: 1;
    transform: translateX(0) scaleX(0.8) scaleY(1.3);
  }

  85% {
    transform: scaleX(1.2) scaleY(0.9);
  }

  100% {
    transform: scaleX(1.2) scaleY(1.0);
  }
}

.all-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url("./assets/img/game-background.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  flex: 1;
}

canvas {
  background-color: black;
  display: none;
}

.canvas-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.move-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: none;
}

.move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* border: 1.5px solid orangered; */
  font-size: 24px;
  background-color: orange;
  color: black;
  font-weight: bold;
}

.move-button:active {
  background-color: orangered;
}

.fullscreen-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* border: 1.5px solid orangered; */
  font-size: 24px;
  text-align: center;
  background-color: orange;
  color: black;
  padding-bottom: 6px;
}

.fullscreen-button:active {
  background-color: orangered;
}

.overlay-startscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-right: 65px;
  padding-top: 37px; */
}

.startscreen {
  background-image: url("./assets/img/startscreen.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 0px 30px 10px white;
  display: none;
}

.button-play {
  z-index: 5;
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  /* filter: brightness(0.6); */

  filter: contrast(170%) saturate(160%) sepia(10%) grayscale(5%);
  /* image-rendering: pixelated;  */
  opacity: 1.0;
  /* filter: drop-shadow(50px 50px 50px 50px black); */
  /* filter: hue-rotate(-30deg) saturate(80%) brightness(110%); */
}

.start-button {
  font-size: 32px;
  font-weight: bold;
  border-radius: 16px;
  margin-bottom: 24px;
  width: 159px;
  background-color: orange;
  border: 2px solid orangered;
}

.start-button:hover {
  background-color: orangered;
  border: 2px solid orange;
}

.start-button:active {
  background-color: rgb(255, 17, 0);
  border: 2px solid rgb(255, 204, 0);
}

@media only screen and (max-width: 850px) {
  canvas {
    width: 100%;
  }

  .canvas-button-box {
    gap: 6px;
  }

  .move-button-box {
    gap: 6px;
    flex-direction: column;
  }

  .move-button {
    width: 42px;
    height: 42px;
    font-size: 20px;
  }

  .fullscreen-button {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  h1 {
    /* display: none; */
    font-size: 64px;
    -webkit-text-stroke: 3px #712400;
  }
}

@media only screen and (max-height: 850px) {
  canvas {
    height: 100dvh;
  }

  .startscreen {
    height: 100dvh;
  }


}